:root {
    font-size: 16px;
}



header {
    background-color: lightcoral;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
header > nav {
    background-color: lightpink;
    font-family: Arial, sans-serif;
    font-weight: 400;
}

header nav ul{
  display: flex;
  gap: 1rem;

}
.main-page{
    display: flex;
}

aside{
    background-color: lightsalmon;
    width: 100%;
}
aside ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: lightpink}
main{
    background-color: lightblue;
    padding: 0.5rem;
}

main > article{
    background-color: lightcyan ;
   
}
footer{
    display: flex;
    justify-content: center;
    padding: 4rem;
    background-color: lightgrey;
   
}